@media (min-width: 769px) and (max-width: 1024px) {
    .inout-wrapper {
      background-color: red;
    }
  } 

@media screen and (max-width: 768px) {
    .input-search {
      width: 300px;
    }
  }


@media screen and (max-width: 320px) {
    .input-wrapper{
        width: 165px;
    }
    h1{
        font-size: 55px;
    }
    
    .btn-search{
        margin-bottom: 10px;
    }
    .input-search {
      width: 130px;
    }
  }